<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6qIdc2fmMCvqxbD9CPUmDQEH372CyoNM</string>
	<key>GCM_SENDER_ID</key>
	<string>848992851126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gazza.Aca-Asistent</string>
	<key>PROJECT_ID</key>
	<string>aca-asistent</string>
	<key>STORAGE_BUCKET</key>
	<string>aca-asistent.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848992851126:ios:2cc2c8f10f1837af128217</string>
</dict>
</plist>